# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.db
*.db-shm
*.db-wal
*.ipch
*.opendb
*.ipch
*.db
Asteroids/.vs/TPV2/v17/ipch/AutoPCH/9c335a8bd2bda9f0/FIGHTER.ipch
Asteroids/.vs/TPV2/v17/ipch/AutoPCH/83d0324ca0cfd2a4/OBJETS.ipch
Asteroids/.vs/TPV2/v17/Browse.VC.db
Asteroids/.vs/TPV2/v17/.suo
Asteroids/.vs/TPV2/FileContentIndex/ef04a087-593a-4113-9b21-666551a265b2.vsidx
Asteroids/.vs/TPV2/FileContentIndex/8673879c-4e55-406f-8cb6-e3ca3aa9911e.vsidx
Asteroids/.vs/TPV2/FileContentIndex/118db893-55cb-4eb4-8ce4-0e6a35d15bc4.vsidx
